body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #E0E0E0; /* Default background color */
}

.container {
    text-decoration-color: black;
    text-align: center;
    background: rgba(12, 231, 202, 0.829);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weather-container {
    margin-top: 20px;
}

#weather-info {
    margin-top: 20px;
    font-size: 16px;
    
}

#city-list {
    margin-top: 10px;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
}

#city-list div {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

#city-list div:last-child {
    border-bottom: none;
}

#clock {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}